## Observations and Insights

Type Markdown and LaTeX:  ùõº2

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "Resources/Mouse_metadata.csv"
study_results_path = "Resources/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mouse_study = pd.merge(mouse_metadata, study_results, on="Mouse ID", how='left')
# Display the data table for preview
mouse_study.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
mice_count = mouse_study["Mouse ID"].count()
mice_count

1893

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
clean_df = mouse_study.drop_duplicates("Mouse ID")

In [6]:
# Checking the number of mice in the clean DataFrame.
clean_mice_count = clean_df["Mouse ID"].count()
clean_mice_count

249

## Summary Statistics

In [19]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
print(clean_df.describe())
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
mice_group = clean_df.groupby(clean_df["Mouse ID"])
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
tumor_mean = mice_group["Tumor Volume (mm3)"].mean()
tumor_median = mice_group["Tumor Volume (mm3)"].median()
tumor_variance = mice_group["Tumor Volume (mm3)"].var()
tumor_std = mice_group["Tumor Volume (mm3)"].std()
tumor_sem = mice_group["Tumor Volume (mm3)"].sem()
# Assemble the resulting series into a single summary dataframe.
tumor_summary = pd.DataFrame({"Mean":tumor_mean,
                              "Median": tumor_median,
                              "Variance": tumor_variance,
                              "Standard Deviation": tumor_std,
                              "Standard Error": tumor_sem
                             })

       Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  Metastatic Sites
count  249.000000  249.000000      249.0               249.0             249.0
mean    12.730924   26.116466        0.0                45.0               0.0
std      7.228687    3.697003        0.0                 0.0               0.0
min      1.000000   15.000000        0.0                45.0               0.0
25%      6.000000   25.000000        0.0                45.0               0.0
50%     13.000000   27.000000        0.0                45.0               0.0
75%     19.000000   29.000000        0.0                45.0               0.0
max     24.000000   30.000000        0.0                45.0               0.0

In [20]:
tumor_summary

          Mean  Median  Variance  Standard Deviation  Standard Error
Mouse ID
a203      45.0    45.0       NaN                 NaN             NaN
a251      45.0    45.0       NaN                 NaN             NaN
a262      45.0    45.0       NaN                 NaN             NaN
a275      45.0    45.0       NaN                 NaN             NaN
a366      45.0    45.0       NaN                 NaN             NaN
...        ...     ...       ...                 ...             ...
z435      45.0    45.0       NaN                 NaN             NaN
z578      45.0    45.0       NaN                 NaN             NaN
z581      45.0    45.0       NaN                 NaN             NaN
z795      45.0    45.0       NaN                 NaN             NaN
z969      45.0    45.0       NaN                 NaN             NaN

[249 rows x 5 columns]

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen