In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [3]:
player_sn = purchase_data["SN"]
player_gender = purchase_data["Gender"]
player_age = purchase_data["Age"]

player_demographics = pd.DataFrame({"SN":player_sn,
                                   "Gender":player_gender,
                                   "Age":player_age}).drop_duplicates()
player_demographics.head(2)

            SN Gender  Age
0      Lisim78   Male   20
1  Lisovynya38   Male   40

In [4]:
total_players = player_demographics["SN"].count()
total_players_df = pd.DataFrame({"Total Players":total_players},index=[""])
total_players_df

  Total Players
            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = purchase_data["Item Name"].drop_duplicates()
unique_items = unique_items.count()

average_price = purchase_data["Price"].mean()
average_price = "${:.2f}".format(average_price)

total_revenue = purchase_data["Price"].sum()
total_revenue = "${:.2f}".format(total_revenue)

total_purchases = purchase_data['Purchase ID'].count()

item_summary = pd.DataFrame({"Number of Unique Items": unique_items,
                            "Average Price": average_price,
                            "Number of Purchases": total_purchases,
                            "Total Revenue": total_revenue},index=[0])

item_summary

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
genders = player_demographics["Gender"]
gender_count = genders.value_counts()
gender_percent = round(gender_count/total_players*100,2).astype(str)+'%'
genders_df = pd.DataFrame({"Total Count":gender_count,
                          "Percentage of Players":gender_percent})

genders_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
number_purchases = purchase_data.groupby(["Gender"]).count()["Price"]
gender_avg = round(purchase_data.groupby(["Gender"]).mean()["Price"],2)
gender_total = round(purchase_data.groupby(["Gender"]).sum()["Price"],2)

gender_avg = "$" + gender_avg.astype(str)
gender_total = "$" + gender_total.astype(str)

purchase_summary= pd.DataFrame({"Number of Purchases": number_purchases,
                               "Average Purchase Price": gender_avg,
                               "Total Purchase Value": gender_total})
purchase_summary

,Number of Purchases,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.2,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0,10,15,20,25,30,35,40,99]
grouping = ["<10",'10-14','15-19','20-24','25-29','30-34','35-39','40+']
ages = player_demographics.loc[:,["Age"]]

ages["Age Range"] = pd.cut(ages['Age'],bins,labels=grouping)

age_demographics_totals = ages["Age Range"].value_counts()
age_demographics_percentages = round(age_demographics_totals/total_players*100,2).astype(str)+"%"

age_demographics = pd.DataFrame({"Total Players Per Age":age_demographics_totals,
                                "Total Percent Players":age_demographics_percentages})
age_demographics = age_demographics.sort_index()
age_demographics

       Total Players Per Age Total Percent Players
<10                       24                 4.17%
10-14                     41                 7.12%
15-19                    150                26.04%
20-24                    232                40.28%
25-29                     59                10.24%
30-34                     37                 6.42%
35-39                     26                 4.51%
40+                        7                 1.22%

To confirm these age ranges, we can count the number players within one age range from our player_demographics dataframe. For simplicity, let's use the 40+ range.

In [9]:
count = 0
for age in player_demographics["Age"]:
    if age > 40:
        count += 1
count

7

Since this test confirms that there are 7 players aged 40+, we can assume that the other ranges are correct.

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
age_purchases = purchase_data.drop_duplicates("SN")
age_purchases["Age Range"] = pd.cut(age_purchases["Age"],bins,labels=grouping)

total_age_purchases = age_purchases.groupby(["Age Range"]).count()["Price"]
avg_purchase_price = age_purchases.groupby(["Age Range"]).mean()["Price"].round(2)
total_purchase_value = age_purchases.groupby(["Age Range"]).sum()["Price"].round(2)
avg_per_age = round(total_purchase_value / age_demographics["Total Players Per Age"],2)

avg_per_age = "$" + avg_per_age.astype(str)
avg_purchase_price = "$"+avg_purchase_price.astype(str)
total_purchase_value = "$" + total_purchase_value.astype(str)


age_purchase_summary = pd.DataFrame({"Number of Purchases": total_age_purchases,
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value": total_purchase_value,
                                    "Average Purchase Per Person": avg_purchase_price})

age_purchase_summary

/Users/sreeven/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Number of Purchases,Average Purchase Price,Total Purchase Value,Average Purchase Per Person
Age Range,,,,
<10,24,$3.42,$82.18,$3.42
10-14,41,$2.94,$120.43,$2.94
15-19,150,$3.18,$476.84,$3.18
20-24,232,$3.02,$700.03,$3.02
25-29,59,$2.9,$171.02,$2.9
30-34,37,$3.0,$111.15,$3.0
35-39,26,$3.29,$85.47,$3.29
40+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
users = purchase_data

purchase_count = users.groupby(["SN"]).count()["Price"]
avg_purchase_price = round(users.groupby(["SN"]).mean()["Price"],2)
total_purchase_value = round(users.groupby(["SN"]).sum()["Price"],2)

user_spending = pd.DataFrame({"Number of Purchases":purchase_count,
                             "Average Purchase Price":avg_purchase_price,
                             "Total Purchase Value":total_purchase_value})
user_spending = user_spending.sort_values(by=["Total Purchase Value"], ascending = False)
user_spending.head()

             Number of Purchases  Average Purchase Price  Total Purchase Value
SN
Lisosia93                      5                    3.79                 18.96
Idastidru52                    4                    3.86                 15.45
Chamjask73                     3                    4.61                 13.83
Iral74                         4                    3.40                 13.62
Iskadarya95                    3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
item_group = purchase_data.set_index(["Item ID", "Item Name"])
item_group = item_group.groupby(["Item ID", "Item Name"])

purchase_count = item_group.count()["Price"]
total_item_value = item_group.sum()["Price"].round(2)
item_price = round(total_item_value / purchase_count,2)

total_item_value = total_item_value.map("${:,.2f}".format)
item_price = item_price.map("${:,.2f}".format)

popular_items = pd.DataFrame({"Number of Purchases": purchase_count,
                              "Item Price": item_price,
                             "Total Purchase Value": total_item_value})

popular_items = popular_items.sort_values(by="Number of Purchases",ascending=False)
popular_items.head()

,,Number of Purchases,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
purchase_count = item_group.count()["Price"]
total_item_value = item_group.sum()["Price"].round(2)
item_price = round(total_item_value / purchase_count,2)

profitable_items = pd.DataFrame({"Number of Purchases": purchase_count,
                              "Item Price": item_price,
                             "Total Purchase Value": total_item_value})

profitable_items = profitable_items.sort_values(by = "Total Purchase Value",ascending=False)

profitable_items.head()

,,Number of Purchases,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80